body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
p{
    text-align: center;
    flex: auto;
}
.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.form-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

button {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #555;
}

.result-container {
    margin-top: 20px;
}
img{
    max-width: 100%;
    height: auto;
}

